h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
body {
    font-family: Arial,sans-serif;
}
#logo {
    max-width: 12%;
}
#content {
    padding-bottom: 18px;
    border-color: lightgray;
}
.h2 {
    text-align: left;
}
#sign-in {
    font-size: 22.5pt;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
#sign-in-text {
    font-size: 10pt;
    padding-left: 5px;
    padding-right: 5px;
}
#email-enter {
    border-color: darkgrey;
    height: 22.5pt;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 10px;
}
#continue-button {
    border-color: black;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 5px;
    background: linear-gradient(180deg, #f1d78d, #e4b639);
    border-color: #a88734 #9c7e31 #846a29;
}
#notice {
    margin-top: 10px;
    font-style: small;
    font-size: 9pt;
    padding-left: 5px;
    padding-right: 5px;
}
#need-help {
    font-size: 9pt;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
#new-to-amazon-div {
    width: 100%; 
    height: 15px; 
    border-bottom: 1px solid #E7E7E7; 
    text-align: center;
    margin-top:10px;
}
#new-to-amazon {
    font-size: 12px; 
    background-color: #FFFFFF; 
    padding: 0px 10px;
    margin-bottom: 10px;
}
#create-account-button {
    padding: 10px;
    margin-bottom: 30px;
    margin-top:15px;
    background: linear-gradient(to bottom, #ffffff, #dfdddd);
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
}
#footer {
    background-color: rgb(246,246,246);
    padding-top: 10px;
    padding-bottom: 100%;
    border-top-color: rgb(232,232,232);
}
#footer-nav {
    padding: 5px;
    font-size: 8pt;
    border-spacing: 10pt;
    margin-bottom: 5px;
}
#conditions-of-use {
    margin: 10px;
}
#privacy-notice {
    margin: 5px;
}
#help {
    margin: 10px;
}
#copyright {
    font-size: 8pt;
}